table {
    border-collapse: collapse;
    table-layout: auto;
}

#categoriesTable {
    font-size: 10px;
}

#categoriesTable a {
    font-size: 10px;
}

#categoriesTable td, #categoriesTable th {
    padding: 2px;
    border: 1px solid #ddd;
    text-align: left;
}

#categoriesTable th {
    background-color: #d4d1d1;
    font-size: small;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;

}

#header-container {
    display: flex;
    align-items: center;
}

#table-container div {
    margin-bottom: 20px;
}

#table-container h1 {
    margin-right: 10px;
}

.headingrow {
    background-color: #e7e6e6;
}

.pdcount {
    text-align: center;
}