table {
    border-collapse: collapse;
    table-layout: auto;
}

#categoriesTable {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px;
}

#categoriesTable a {
    font-size: 12px;
}

#categoriesTable td, #categoriesTable th {
    padding: 2px;
    border: 1px solid #ddd;
}

#categoriesTable th {
    background-color: #d4d1d1;
    font-size: small;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;

}

#header-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

#table-container div {
    margin-bottom: 20px;
}

#table-container h1 {
    margin-right: 10px;
}

.headingrow {
    background-color: #e7e6e6;
}

.mainheadingrow {
    background-color: #8a8a8a;
    font-weight: bold;
    color: white;
}

.pdcount {
    text-align: center;
}

@keyframes blinkGreen {
    0% {
        background-color: green;
    }
    100% {
        background-color: inherit;
    }
}

.blink-green {
    animation: blinkGreen 0.5s ease-in-out;
}